/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@font-face {
  font-family: 'mexican-tequila';
  src: url(../font/mexican-tequila.ttf);
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
ul > li{
  padding: auto 1em !important; 
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.blured{
  filter: blur(8px);
}
.logo{
  margin: 5px;
  width: 1.5em;
}
.shadow-1{
  text-shadow: 1px 1px 1px #000;
}

.fancy-border{
  border-top: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
}

.inline{
  display: flex;
  margin: 0;
}

.inline li{
  padding: 0.5em 1em;
  font-size: 1.5em;
}

a{
  color: white;
}

#horario{
  padding: 1.5em;
}

.card:hover{
  box-shadow: 1px 1px 10px #000;
  transition: 0.5s;
}

.horario{
  height: 20px;
  margin-bottom: 0;
  padding: 5px;
}

.horario .horario_left{
  border-top: 5px #ff5722 solid;
  position: relative;
}

.horario .horario_left i{
  color: #009688;
  position: absolute;
  right: -8px;
  top: -14px
}

.horario .horario_middle{
  border-top: 5px #009688 solid
}

.horario .horario_right{
  border-top: 5px #ff5722 solid;
  position: relative;
}

.horario .horario_right i{
  color: #009688;
  position: absolute;
  left: -8px;
  top: -14px;
}

.justify-text{
  text-align: justify;
  text-justify: inter-word;
}

.mexican-title{
  font-family: mexican-tequila;
}

.titulo-combo{
  font-weight: bold !important;
  text-transform: uppercase;
}

.truncate_non {
  white-space: normal !important;
}

.my_card{
  border-radius: 6px;
  padding: 5px !important;
  
}

.my_card .row{
  margin: 0;
  position: relative;
}

.my_card_title{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/*transition*/
#list div {  
  opacity: 0;
  animation: fadeIn 1s ease-in both;
}

#list div:nth-child(2) {
  animation-delay: 1s;
}
#list div:nth-child(3) {
  animation-delay: 2s;
}

#text{
  display: none;
}

.pagination li{
  padding: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*end of transition*/
