/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


@font-face {
  font-family: 'mexican-tequila';
  src: url(../font/mexican-tequila.ttf);
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 20%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (min-width: 600px){
  .combo-cards{
    display: flex;
  }
  .combo-cards li{
    margin: auto 0.5em;
  }
  li .card{
  width: 200px;
  }
}

@media only screen and (min-width: 900px){
  li .card{
  width: 300px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.blured{
  filter: blur(8px);
}
.logo{
  margin: 5px;
  width: 1.5em;
}
.shadow-1{
  text-shadow: 1px 1px 1px #000;
}

.fancy-border{
  border-top: 1px #FFF solid;
  border-bottom: 1px #FFF solid;
}

.inline{
  display: flex;
  margin: 0;
}

.inline li{
  padding: 0.5em 1em;
  font-size: 1.5em;
}

a{
  color: white;
}

.card:hover{
  box-shadow: 1px 1px 10px #000;
  transition: 0.5s;
}

.mexican-title{
  font-family: mexican-tequila;
}

.titulo-combo{
  font-weight: bold !important;
  text-transform: uppercase;
}
